<h1>Listing cooks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>

<% @cooks.each do |cook| %>
  <tr>
    <td><%=h cook.name %></td>
    <td><%=h cook.email %></td>
    <td><%=h cook.password %></td>
    <td><%= link_to 'Show', cook %></td>
    <td><%= link_to 'Edit', edit_cook_path(cook) %></td>
    <td><%= link_to 'Destroy', cook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cook', new_cook_path %>