<p>
  <b>Name:</b>
  <%=h @cook.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @cook.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @cook.password %>
</p>


<%= link_to 'Edit', edit_cook_path(@cook) %> |
<%= link_to 'Back', cooks_path %>