<p>
  <b>Name:</b>
  <%=h @chef.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @chef.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @chef.password %>
</p>


<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', chefs_path %>