<h2>Recipies for success</h2>
<h3>What do you want to cook up for your business?</h3>
<% form_for('search') do |f| %>
  
  <%= f.text_field :q %>
  <%= f.submit 'Go' %>
  
<% end %>
<h3>Recent recipes:</h3>
<ul id="recipes_list" class="stream">
  <% @recipes.each do |recipe| %>
    <li>
      <h4><%= link_to recipe.name, recipe %></h4>
    </li>
  <% end %>
</ul>
<h3>Featured chefs:</h3>
<ul id="chef_list" class="stream">
  <% [{:name => 'Crooks r us', :recipes => 120, :popularity => 47},
      {:name => 'J A Arthurpa', :recipies => 86, :popularity => 24}].each do |chef| %>
    <li>
      <h4><%= chef[:name] %></h4>
      <p>Recipies <%= chef[:recipes] %></p>
      <p>Recipies <%= chef[:popularity] %></p>
    </li>
  <% end %>
</ul>