<h2>
  <%=h @recipe.name %>
</h2>

<p>
  <h3>Steps:</h3>
  <% form_for('step') do |f| %>
    <ul class="recipe_check_list">
      <% @recipe.each_step do |text, number| %>
        <li>
          <%= f.check_box "done_#{number}" %>
          <%= f.label "done_#{number}", text %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>
<!--
<p>
  <b>Ingredients:</b>
  <%=h @recipe.ingredients %>
</p>
-->

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>