%div.biog
  %h2= chef.name
  =image_tag(chef.profile_img, :class => 'profile_img')
  %p= chef.tag_line
%div
  %h4= "#{chef.name.split(' ').first}'s recipes"
  - chef.recipes.each do |recipe|
    = link_to recipe.name, recipe
  