!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title
    = stylesheet_link_tag 'yui'
    = stylesheet_link_tag '../javascripts/dijit/themes/dijit.css'
    = stylesheet_link_tag 'cookbook'
    %script{:djConfig => "parseOnLoad:true,baseUrl: '/javascripts/',modulePaths: { ruflr: 'ruflr', cookbook: 'cookbook'}", :src => "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js", :type => "text/javascript"}
    = javascript_include_tag 'cookbook'
    = javascript_auto_include_tags
  %body
    #doc2.yui-t7
      %ul#toolbar
        %li.home.first
          %a{:href => root_path}
            %span.title Home
            %span.other Where it began
        %li.your_page
          %a{:href => user_path(current_user)}
            %span.title Your page
            %span.other See your activity
        %li.working
          %span.title Recipes Begun
          %span.other.count
            = current_user.follows_by_type('Recipe').length
        %li.completed
          %span.title Steps Done
          %span.score
            = current_user.todos.completed.length
        %li.help
          %a{:href => help_path}
            %span.title Help!
            %span What's this site?
      #wrap.yui-ge
        %div.yui-u.first
          #book
            #hd{:role => "banner"}
              = yield :header
            #bd{:role => "main"}
              %p.success= flash[:notices] if flash[:notices] 
              %p.error=   flash[:warnings] if flash[:warnings]
              %div.content
                = yield
                #ft{:role => "contentinfo"}
                  %p
                    Business Cookbook
        %div.yui-u
          #secondary
            = yield :side
    -['bookmark','bookmark-checked','bookmark-hover'].each do |img|
      %div{:class=>'preload',:style=>"background-url(../images/#{img}.png)"}